<!doctype html>
<html lang="vi" class="light-mode">
<head>
    <meta charset="utf-8"/>
    <title>
        Đồng hồ cao cấp chính hãng giảm giá ưu đãi | Luxury Shoping
    </title>
    <link rel="stylesheet" href="https://luxshopping.vn/assets/bootstrap/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="test.css">
    <!-- SEO -->



    <style>
        .upperHeader .icon-map-pin {
            margin-right: 10px;
        }

        .mobileHeaderIcon button.cart {
            margin-bottom: 0 !important
        }

        .radius4 {
            border-radius: 5rem
        }
    </style>
    <link rel="stylesheet" href="test.css">

</head>
<body class="category mobile-nav-visible">
<div class="wrapper">
    <div class="notification"></div>
    <header class="main-header header">

        <div class="navigationMobile container text-center">
            <div class="row middleHeader">
                <div class="col-md-4 col-xs-4 main-left">
                    <div class="mobileHeaderIcon">
                        <button class="mobile-navigation-button pull-left hidden-desktop icon-menu" title="Menu"
                                aria-label="Menu"></button>
                        <button class="theme-switch-wrapper theme-switch" title="Switch Mode" aria-label="Switch Mode">
                            <span class="icon-sun"></span></button>
                        <button class="icon-telephone" aria-label="Hotline" title="Hotline"></button>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 siteLogo">
                    <a href="/" title="Luxury Shopping" class="header-logo" id="logo"></a>
                </div>
                <div class="col-md-4 col-xs-4 main-right">
                    <div class="mobileHeaderIcon">
                        <button id="search-trigger" class="search-button icon-magnifier" aria-label="Search Button"
                                title="Tìm Kiếm"></button>
                        <button class="header-wishlist icon-heart-o relative hidden-mobile" title="Ưa thích"
                                data-bs-toggle="offcanvas" data-bs-target="#sidebar-fav" aria-controls="sidebar-fav"
                                arial-label="Sản phẩm ưa thích">
                                <span class="counter qty">
                                    0
                                </span>
                        </button>
                        <button class="cart icon-cart-new relative" aria-label="Giỏ hàng" title="Giỏ hàng"
                                data-bs-toggle="offcanvas" data-bs-target="#sidebar-cart" aria-controls="sidebar-cart">
                                <span class="counter qty-cart">
                                    0</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="end-sticky"></div>
    </header>
    <main id="main" class="main-content">

        <div id="ctl00_plMainContainer_pnBanner" class="banner"
             style="background-image:url('https://cdn.luxshopping.vn/Thumnails/Uploads/Images/luxshopping-1350-580-6.png.webp');">
            <div class="container pt-30 pb-30">
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-7 col-lg-7">
                        <img src="https://cdn.luxshopping.vn/Thumnails/Uploads/Images/donghosale-luxshopping1.png.webp"
                             alt="Đồng hồ nam" class="img-fluid img-banner"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray">
            <div class="breadcrumb-section container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" aria-label="Trang chủ">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sale</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container category-brand">

            <div class="brand-mobile-menu hidden-tablet hidden-desktop">
                Menu <span class="icon-chevron-down"></span>
            </div>
            <div class="brand-menu">
                <ul>
                    <li><a href="/sale.aspx?gioi_tinh=1" title="Đồng hồ Nam">Đồng hồ Nam</a></li>
                    <li><a href="/sale.aspx?gioi_tinh=0" title="Đồng hồ Nữ">Đồng hồ Nữ</a></li>
                    <li><a href="/sale.aspx?sort=best-seller" title="Sản phẩm bán chạy">Sản phẩm bán chạy</a></li>
                    <li><a href="/sale.aspx?sort=new" title="Sản phẩm mới">Sản phẩm mới</a></li>
                    <li><a href="/tin-tuc.aspx" title="Bài viết">Bài viết</a></li>
                </ul>
            </div>
        </div>
        <div class="container cat-desc">
            <hr style="margin: 0;">


        </div>

        <div class="end-stick clearfix"></div>
        <div class="row filter-sort" id="filter-sort">
            <div class="col p-0">
                <div class="sorting-actions product-listing" id="product-search-results">
                    <div class="row grid-header no-gutters justify-content-center">
                        <div class="result-count d-flex">
                            <div class="search-result-filters">
                                <select name="sort-order" class="custom-select filled" aria-label="Sắp xếp theo">
                                    <option class="default" value="" data-id="default">Mặc định</option>
                                    <option class="Best-Sellers" value="best-seller" data-id="Best-Sellers">Bán chạy
                                    </option>
                                    <option class="price-high-to-low" value="price-za" data-id="price-high-to-low">Giá
                                        cao - thấp
                                    </option>
                                    <option class="price-low-to-high" value="price-az" data-id="price-low-to-high">Giá
                                        thấp - cao
                                    </option>
                                    <option class="new-in" value="new" data-id="new-in">Sản phẩm mới</option>
                                </select>
                                <span class="sort-order-replace d-flex justify-content-center align-items-center">Sắp xếp theo</span>
                            </div>
                            <div class="search-result-filters">
                                <button type="button" class="filter-results" data-bs-toggle="offcanvas"
                                        data-bs-target="#sidebar-filter" aria-controls="sidebar-filter"
                                        arial-label="Bộ lọc sản phẩm">
                                    Lọc sản phẩm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="gridBlock row row-eq-height gx-1 row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4"
                 id="product-container">

                <div class="col relative" day='404' gender='1' price='66017'>
                    <div class="product-box bg-gray h-100">
                        <a href="/dong-ho/88-rue-du-rhone-swiss-quartz-watch-42mm-14908.aspx"
                           title="Đồng hồ 88 Rue du Rhone Swiss Quartz Watch 42mm" class="plain">
                            <div class="product-image">
                                <img src="https://cdn.luxshopping.vn/Thumnails/Uploads/News/88-rue-du-rhone-swiss-quartz-watch-42mm.png_540_660.webp"
                                     width="540" height="660" alt="88 Rue du Rhone Swiss Quartz Watch 42mm"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="product-info">
                                <p class="product-sku">MSP: 66017</p>
                                <p class="product-title">88 Rue du Rhone Swiss Quartz Watch 42mm</p>
                                <p class="product-price">
                                    <span class="ori-price">12,630,000</span><span class="line-price">-</span> <span
                                        class="sale-price">11,367,000</span>
                                </p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>


    </main>

    <footer id="footer" class="footer-wrapper bg-gray">
        <div class="container">
            <p>Day la footer</p>
        </div>
    </footer>
</div>


</body>
</html>
